* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body, html {
    height: 100%
  }
  
  .bgimg {
    background-image: url('../images/coming.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
    position: relative;
    /* Add a white text color to all elements inside the .bgimg container */
    color: white;
    /* Add a font */
    font-family: "Courier New", Courier, monospace;
    /* Set the font-size to 25 pixels */
    font-size: 25px;
  }
  
 
  
  /* Position text in the bottom-left corner */
  .bottomleft {
    position: relative;
    top: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    align-content: center;
    align-items: center;
    line-height: 1.8;
  }
  
  /* Position text in the middle */
  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the <hr> element */
  hr {
    margin: auto;
    width: 40%;
  }

  .social-links a{
	margin: 10px;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.social-links a:hover{
	color: #f50a0a;
}

.back {
    font-size: 20px;
}
.back a {
    text-decoration: none;
    color: #00f1ff;
}
.back a:hover {
    color: #f50a0a;
}