.hall-section{
  background-color: #e8e0df;
  /* height: 100vh; */
  }

.hall_title {
  position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.hall_title img {
  width: 50vw;
}

@media screen and (min-width: 0px) and (max-width: 430px){
  .hall_title img{
    width: 100vw;
  }
}