* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0px 80px;
    background-color: white;
    margin: auto;
  }
  
  .navbar a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1vw;
  }
  
  .navbar a img {
    max-width:100%;
    height: 100px;
  }
  .navbar__menu_container {
    display: flex;
    gap: 30px;
  }

  .navbar__menu_container .user__icon {
    height: 30px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
  }


  .hero_section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background-color: #E8E6DF;
    position: relative;
    /* width: 100%; */
    margin: auto;
  }

  .hero_img {
    /* width: 100%; */
  /* height: 100vh; */
  position: relative;
  padding: 0px;
  margin: 30px;
  /* background-size: cover; */
  /* background-position: 50%; */
    /* width: 50vh;
    height: 50vh; */
  }
  .hero_img img {
    max-width: 100%;
    height: 50%;
  }

  .hero_text {
    position: relative;
  text-align: center;
  color: #003152;
  font-size: 2.8vw;
  font-weight: 700;
  margin: 30px;
  font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .hero_text h2 {
    font-size: 2vw ;
  }
  .hero_text p {
    /* text-align: center; */
    line-height: 32px;
    font-weight: 400;
    font-size: 1.5vw;
    font-family: 'Google Sans', sans-serif;
}
  

  .inner_button1 button {
    background: #2F5BE7;
    box-shadow: 0 2px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
    color: #FFFFFF;
    padding: 12px 18px;
    font-size: 1vw;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }


  .event_section {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
    background-color: white;
    position: relative;
    /* width: 100%; */
    /* margin: auto; */
  }

  .event_title {
   position: relative;
   padding: 20px;
   margin: 40px;
  }
  .event_title h1 {
    text-transform: capitalize;
    font-size: 3vw;
    line-height: 48px;
    font-weight: 600;
    /* font-family: 'Roboto', sans-serif; */
  }

  .event_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 50vh;
    height: 50vh;
    border: 1px solid black;
    border-radius: 20px; */
  }
  .event_card .card1 {
    background: #F2F2F2;
    border-radius: 20px;
    padding: 20px;
    box-shadow: -21px 9px 25px #e8e6df, 21px -9px 25px #ffffff;
    mix-blend-mode: multiply;
  }
  .event_card .card1 .card_1 {
    background: #F2F2F2;
    border-radius: 20px;
    box-shadow: -9px 9px 18px #e8e6df, 9px -9px 18px #ffffff;
    mix-blend-mode: multiply;
    width: 350px;
  }
  .card_1 img {
    border-radius: 20px 20px 0 0;
    width: 350px;
  }

  .card_1 .content {
    padding: 10px;
  }
  .card_1 .content h4 {
    font-size: 1.5vw;
    font-weight: 600;
    line-height: 21px;
    text-align: left;
    padding: 17px 0 15px 0;
  }
  .card_1 .content p {
    font-size: 1vw;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    width: 325px;
}

.learn{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
    position: relative;
    /* width: 100%; */
    margin: 0px;
    padding: 8% 0 4% 0;

}
.learn button {
    background: #491B7E;
    box-shadow: 0 2px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
    color: #FFFFFF;
    padding: 12px 18px;
    font-size: 1vw;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

 /* .news {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    background-color: #E8E6DF;
    position: relative;
    width: 100%;
    margin: auto;
}

.news .news_title {
    position: relative;
   padding: 20px;
   margin: 40px;
}

.news_title h1 {
    text-transform: capitalize;
    font-size: 45px;
    line-height: 48px;
    font-weight: 600;
}  */


div#carousel { 
    perspective: 1200px; 
    background: #E8E6DF; 
    padding: 5%; 
    font-size:0; 
    margin-bottom: 3rem; 
    overflow: hidden; 
  }
  figure#spinner { 
    transform-style: preserve-3d; 
    height: 300px; 
    transform-origin: 50% 50% -500px; 
    transition: 1s; 
  } 
  figure#spinner img { 
    width: 40%; max-width: 425px; 
    position: absolute; left: 30%;
    transform-origin: 50% 50% -500px;
    outline:1px solid transparent; 
  }
  figure#spinner img:nth-child(1) { transform:rotateY(0deg); 
  }
  figure#spinner img:nth-child(2) { transform: rotateY(-45deg); }
  figure#spinner img:nth-child(3) { transform: rotateY(-90deg); }
  figure#spinner img:nth-child(4) { transform: rotateY(-135deg); }
  figure#spinner img:nth-child(5){ transform: rotateY(-180deg); }
  figure#spinner img:nth-child(6){ transform: rotateY(-225deg); }
  figure#spinner img:nth-child(7){ transform: rotateY(-270deg); }
  figure#spinner img:nth-child(8){ transform: rotateY(-315deg); }
  div#carousel ~ span { 
    color: #fff; 
    margin: 5%; 
    display: inline-block; 
    text-decoration: none; 
    font-size: 2rem; 
    transition: 0.6s color; 
    position: relative; 
    margin-top: -6rem; 
    border-bottom: none; 
    line-height: 0; }

  div#carousel ~ span:hover { color: #888; cursor: pointer; }



  