@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Poppins", sans-serif; */
  }

/* Hero Page */
  .hero_section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 80vh;
    background-color: #E8E6DF;
    padding:50px;
  }

  .hero_text {
    position: relative;
    text-align: center;
    color: #003152;
    font-size: 2.4rem;
    font-weight: 700;
    width: 50%;
    /* font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  }

  .hero_text p {
    line-height: 32px;
    font-weight: 400;
    font-size: 1.2rem;
    /* font-family: 'Google Sans', sans-serif; */
  }

  .hero_img {
    max-width: 600px;
  }

  .inner_button1{
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 70px;
  }

  .inner_button1 a button {
    position: relative;
    background: #2F5BE7;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 4px 6px rgb(0 0 0 / 23%);
    color: #FFFFFF;
    padding: 12px 18px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }

  .inner_button1 a button:hover {
    background-color: #1541d3;
    font-size: 1.1rem;
  }
  
  .hero_text img {
    height: 200px;
  }
/* Hero page */

/* Event_and_workshop_section */
  .event_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position: relative;
  }

  .event_title {
    position: relative;
    padding: 20px;
    margin: 40px;
    text-align: center;
  }
  .event_title h1 {
    text-transform: capitalize;
    font-size: 2.2rem;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
  }
  .event_title p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.4rem;
  }

  

.learn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
    position: relative;
    margin: 0px;
    padding: 8% 0 8% 0;

}
@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap"); */
 
* {
  box-sizing: border-box;
} 

.page-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* gap: 80px; */
  display: grid;
  grid-gap: 5rem;
  padding: 1rem;
  max-width: 80vw;
  margin: 0 auto;
  font-family: var(--font-sans);
}

.page-content .card1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
  border-radius: 3%;
  margin-bottom: 60px;
}

.card1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: center;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}

.card1:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}

.card1:nth-child(1):before {
  background-image: url(https://wallpapercave.com/wp/wp9080159.jpg);
}

.card1:nth-child(2):before {
  background-image: url(https://assets.teenvogue.com/photos/60391871997d23ec6c391855/5:2/w_5425,h_2170,c_limit/GettyImages-1271613603.jpg);
}

.card1:nth-child(3):before {
  background-image: url(../images/w.png);
}

 .card1:nth-child(4):before {
  background-image: url(https://www.usnews.com/object/image/0000016c-d368-daf2-a1fe-f3788ac60000/collegestudentsfriends.jpg?update-time=1566915361510&size=responsive640);
} 

.content1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transition: transform var(--d) var(--e);
  z-index: 1;
}

.content1 > * + * {
  /* margin-top: rem; */
}

.title {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.2;
  color: white;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1 rem;
  padding-top: 10px;
  font-style: italic;
  line-height: 1.5;
}

.btn {
  cursor: pointer;
  margin-top: 1.2rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: rgb(236, 223, 223);
  background-color: rgb(143, 136, 136);
  border: none;
  border-radius: 5%;
}

.btn:hover {
  background-color: rgb(174, 172, 168);
}

.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

.learn button {
    background: #491B7E;
    box-shadow: 0 2px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
    color: #FFFFFF;
    padding: 12px 18px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.learn button:hover{
    background-color: #5a1d9f;
    font-size: 1.2rem;
}
/* Event_and_workshop_section */

 

/* Oppurtunities_Section */
:root{
  --background-dark: #2d3548;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

.hero-section{
  align-items: center;
    background-color: #e8e0df;
    display: flex;
    min-height: 50%;
    padding: 0px 24px 80px;
    flex-direction: column;
    flex-wrap: nowrap;
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

.card{
  list-style: none;
  position: relative;
}

.card:before{
  content: '';
  display: block;
  padding-bottom: 80%;
  width: 100%;
}

.card__background{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}

.card:hover .card__background{
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__heading{
  color: var(--text-lighter);
    font-size: 1.8rem;
    text-shadow: 2px 2px 20px rgb(0 0 0 / 20%);
    line-height: 1.4;
    word-spacing: 100vw;
    text-align: center;
    justify-content: center;
    position: relative;
    margin: auto;
    top: 30px;
}
/* Oppurtunities_Section */
  
 
/* Media_section */
.vid {
  position: relative;
  margin-right: 78vw
}
.vid h1 {
  font-size: 35px;
  font-weight: 800;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
}

.wrapper {
  width: 100%;
}

.wrapper .carousel {
  margin: auto;
  padding: 0 30px;
}
 
.carousel .carde {
  text-align: center;
  margin: 20px 0;
  border: none;
  border-radius: 10px;
}

/* .carousel .carde-1 {
  box-shadow: rgba(236, 26, 26, 0.2);
}
.carousel .carde-2 {
  box-shadow: rgba(201, 194, 194, 0.2);
}
.carousel .carde-3 {
  box-shadow: rgba(201, 194, 194, 0.2);
}
.carousel .carde-4 {
  box-shadow: rgba(201, 194, 194, 0.2);
}
.carousel .carde-5 {
  box-shadow: rgba(201, 194, 194, 0.2);
} */

.owl-dots{
  text-align: center;
  margin-top:20px ;
  margin-bottom: 40px;
}
.owl-dot {
  height: 15px;
  width: 45px;
  border-radius: 25px;
  cursor: pointer;
  outline: none;
  margin: 0 5px;
  border: 2px solid #630460 !important;
  transition: all 0.3s ease;
}

.owl-dot:hover,
.owl-dot.active {
  background: #064e7e !important ;
}

.media{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding:20px;
}

iframe {
  border-radius: 10px;
  border: none;
  box-shadow: 10px 10px 5px rgba(86, 108, 115, 0.371);
}

/* iframe:hover {
  border: 5px solid green;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
} */

.blog_ime {
  height: 15vw;
  border: none;
  object-fit: cover;
  border-radius: 20px;
  cursor: pointer;
}
.bottom-left {
  position: absolute;
  bottom: 45px;
  left: 30px;
  color: #F6BE00;;
  font-size: 1.5rem;
  font-weight: 800;
}






/* Media_section */


/* Newsletter */
.opp-section{
  background-color: #E8E6DF;
  /* height: 100vh; */
}
.oppcards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.oppcard {
  margin: 30px auto;
  width: 20vw;
  height: 300px;
  border-radius: 40px;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.oppcard .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.oppcard .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
  object-position: center;
}

.oppcard .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.oppcard:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

/* Newsletter */



@media screen and (min-width: 0px) and (max-width: 430px){
  .hero_text{
    width:95vw;
  }
  .hero_img{
    max-width: 90vw;
    margin:10px;
  }
  .hero_text img {
    width: 95vw;
  }
  .oppcards-list{
    display: flex;
    flex-direction: column;
  }
  .oppcard{
    width: 75vw;
  }
  .blog_ime{
    height: 60vw;
  }
}

@media(min-width: 540px){
  .card-grid{
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media(min-width: 960px){
  .card-grid{
    grid-template-columns: repeat(4, 1fr); 
  }
  
}

@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
  .card1 {
    height: 40vh;
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
  
}

@media (hover: hover) and (min-width: 600px) {
  .card1:after {
    transform: translateY(0);
  }

  .content1 {
    transform: translateY(calc(100% - 5.5rem));
  }
  .content1 > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .card1:hover,
.card1:focus-within {
    align-items: center;
  }
  .card1:hover:before,
.card1:focus-within:before {
    transform: translateY(-5%);
  }
  .card1:hover:after,
.card1:focus-within:after {
    transform: translateY(-50%);
  }
  .card1:hover .content1,
.card1:focus-within .content1 {
    transform: translateY(50%);
  }
  .card1:hover .content1 > *:not(.title),
.card1:focus-within .content1 > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .card1:focus-within:before, .card1:focus-within:after,
.card1:focus-within .content1,
.card1:focus-within .content1 > *:not(.title) {
    transition-duration: 1000ms;
  }
}

@media (max-width: 480px) {
  .vid h1{
    margin-left: 35px;
  }
}
