@media (max-width: 992px) {
    .navbar__menu_container .link {
      display: none;
    }
  
    .navbar {
      padding: 16px 1px;
    }
  
    .navbar__menu_container .user__icon {
      display: flex;
    }

    .hero_section {
      min-height: 80vh;
    }
  
  }

  /* Desktop
  Tablet
  Mobile
  Galaxy Fold */